html
    head
        title=title 
    body
        form(method="post" action="/quiz") 
            h1 The Number Quize 
            p Your Current score is 
                span=score
            p Guess the next number in the sequence 
            div  
                span=quiz
            label Your answer: 
            
            input(type="number" name="answer" autocomplete="off")
            div 
                input(type="submit" value="Submit")