<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/dict.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/dict.js" type="text/javascript"></script>
</head>

<body>
    <fieldset>
        <legend>WAP Online Dictionary</legend>
        <div>
            <div class="row">
                <label>Term: </label>
                <input type="text" id="word" />
                <button type="button" value="Lookup" id="btnsearch">Lookup</button>
            </div>
        </div>
        <div>
            <ul id="result"></ul>
            <h1 id="noword"style="display:none">No definition found, please try different word</h1>
        </div>
    </fieldset>
</body>

</html>